/* For Header */
.navbar {
  font-size: 1.25rem;
  background-color: transparent !important;
  height: 4rem;
  transition: background 0.25s ease-in-out;
}

.nav-brand {
  font-size: 1.8rem;
  margin-right: 15vw;
  transform: translateY(-5px);
}
.vasu {
  font-weight: 200;
  display: inline-block;
  text-shadow: 0px 0px 1.5px #000;
}
.nav-link {
  font-size: 0.9rem !important;
}
.navbar-light .navbar-nav .nav-link {
  color: var(--white) !important;
  position: relative;
  font-weight: 500;
}
.nav-link:before {
  content: "";
  position: absolute;
  width: 83%;
  height: 2px;
  bottom: 0;
  left: 5;
  background-color: var(--white);
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
.nav-link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
