@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap");

::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
  border: none;
}
::-webkit-scrollbar-track:hover {
  background-color: #fff;
  border: none;
}
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 5px;
  border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
  background: #000;
}

.full-container {
  max-width: unset !important;
}

a {
  text-decoration: none !important;
  color: rgba(0, 0, 0, 1);
}

h2::after {
  display: block;
  height: 4px;
  background-color: #00b9c6;
  content: " ";
  border-radius: 2px;
  width: 100px;
  margin-top: 20px;
}
.courses-offered::after {
  width: auto;
}
/* For Header */
.navbar {
  font-size: 1.25rem;
  background-color: #fff !important;
  height: 4rem;
  transition: background 0.25s ease-in-out;
}

.nav-brand {
  font-size: 1.8rem;
  margin-right: 15vw;
  transform: translateY(-4px);
}
.vasu {
  font-weight: 300;
  display: inline-block;
  text-shadow: 0px 0px 1.5px #000;
}
.nav-link {
  font-size: 0.9rem !important;
}
.navbar-light .navbar-nav .nav-link {
  color: #000 !important;
  position: relative;
  font-weight: 500;
}
.navbar-light .navbar-nav .nav-link.active {
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.7) !important;
}
.nav-link:before {
  content: "";
  position: absolute;
  width: 85%;
  transform: translateX(-3px);
  height: 2px;
  bottom: 0;
  left: 5;
  background-color: #000;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
.nav-link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.navbar-collapse {
  background-color: #fff !important;
}

.navbar-toggler {
  margin-right: 20px;
  color: rgba(255, 255, 255, 0.6) !important;
  border: 3px solid;
  border-color: rgba(255, 255, 255, 0.6) !important;
}

.navbar-toggler:hover {
  box-shadow: 0 0 0 0.25rem;
}
/* For Footer */

.footer {
  background-color: black;
  height: fit-content;
}
.footer-content {
  color: #ffd500;
  text-align: center;
}

.newsletter-input {
  width: 50vw;
  border-radius: 20vw;
  background-color: #808080;
  opacity: 0.3;
  z-index: 100;
  height: 6vh;
  border: none;
  padding: 20px 20px;
}
.newsletter-input input,
select,
textarea {
  color: #fff;
}

::placeholder .newsletter-input {
  color: #fff;
  letter-spacing: 0.2rem;
}
.newsletter-input:active {
  border: none;
}

.newsletter-button {
  width: 10vw;
  height: 6vh;
  border-radius: 5vw;
  background-color: #87ceeb;
  color: #fff;
}

.footer-bottom {
  background-color: rgba(128, 128, 128, 0.3);
  font-size: 0.8rem;
  opacity: 0.7;
  z-index: 100;
  height: 6vh;
  color: #fff;
}

.footer-icons {
  font-size: 1.3rem;
}

/* pricing css sarts */
.pricing-table-subtitle {
  margin-top: 68px;
  font-weight: normal;
}

.pricing-table-title {
  font-weight: bold;
  margin-bottom: 68px;
}

.pricing-card {
  border: none;
  border-radius: 10px;
  margin-bottom: 40px;
  text-align: center;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.pricing-card:hover {
  box-shadow: 0 2px 40px 0 rgba(205, 205, 205, 0.55);
}
.pricing-card.pricing-card-highlighted {
  box-shadow: 0 2px 40px 0 rgba(205, 205, 205, 0.55);
}
.pricing-card:hover {
  box-shadow: 0 2px 40px 0 rgba(205, 205, 205, 0.55);
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
.pricing-card .card-body {
  padding-top: 55px;
  padding-bottom: 62px;
}

.pricing-plan-title {
  font-size: 20px;
  color: #000;
  margin-bottom: 0px;
  font-weight: normal;
}

.pricing-plan-cost {
  font-size: 30px;
  color: #000;
  font-weight: bold;
  margin-bottom: 29px;
}

.pricing-plan-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 40px;
  line-height: 1;
  margin-bottom: 24px;
}
.pricing-plan-basic .pricing-plan-icon {
  color: #fe397a;
}
.pricing-plan-pro .pricing-plan-icon {
  color: #10bb87;
}
.pricing-plan-enterprise .pricing-plan-icon {
  color: #5d78ff;
}

.pricing-plan-features {
  list-style: none;
  padding-left: 0;
  font-size: 14px;
  line-height: 2.14;
  margin-bottom: 35px;
  color: #303132;
}

.pricing-plan-purchase-btn {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  width: 145px;
  height: 45px;
  border-radius: 22.5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
  justify-content: center;
}
.pricing-plan-basic .pricing-plan-purchase-btn {
  background-color: #fe397a;
  color: #fff;
}
.pricing-plan-basic .pricing-plan-purchase-btn:hover {
  box-shadow: 0 3px 0 0 #b7013d;
}
.pricing-plan-basic .pricing-plan-purchase-btn:active {
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  box-shadow: none;
}
.pricing-plan-pro .pricing-plan-purchase-btn {
  background-color: #10bb87;
  color: #fff;
}
.pricing-plan-pro .pricing-plan-purchase-btn:hover {
  box-shadow: 0 3px 0 0 #0a7554;
}
.pricing-plan-pro .pricing-plan-purchase-btn:active {
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  box-shadow: none;
}
.pricing-plan-enterprise .pricing-plan-purchase-btn {
  background-color: #5d78ff;
  color: #fff;
}
.pricing-plan-enterprise .pricing-plan-purchase-btn:hover {
  box-shadow: 0 3px 0 0 #1138ff;
}
.pricing-plan-enterprise .pricing-plan-purchase-btn:active {
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  box-shadow: none;
}
.firstprice .secondprice,
.registernowbtn {
  margin-left: auto;
  margin-right: auto;
}
.registernowbtn {
  margin-left: auto;
  margin-right: auto;
}
.firstprice {
  margin-left: auto;
  margin-right: 50px;
}
.secondprice {
  margin-left: 50px;
  margin-right: auto;
}
.pricingli {
  line-height: 3rem;
}

/* pricing css ends */

.student-video {
  height: 30vh;
}
.about-img-page
{
  height: 25rem;

}
.few-of-my-work
{
  margin-left: 30%;
}
.About-page-work{
  width: 400px;
  height: 220px;
}
/* .about-page-clients
{
  width: 204px;
  height: 224px;
}
.about-page-clients-square
{
  width: 204px;
  height: 204px;
} */
