.auth-back {
  background-color: rgb(230, 230, 230);
}
.gsignin {
  overflow-x: hidden;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.gsignin > form {
  display: grid;
  flex-direction: column;
}
.header-login {
  font-size: 30px;
  color: #43383e;
  font-weight: 600;
  margin: auto;
  margin-top: 20vh;
  width: 300px;
  padding-left: 100px;
}
.e-login-form {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  overflow-x: hidden;
}
.header-login-b {
  font-size: 20px;
  color: #43383e;
  font-weight: 500;
  margin: auto;
  width: 300px;
  padding-left: 43px;
}

.e-login-form > form {
  display: grid;
  flex-direction: column;
}
.e-login-form > form > input {
  width: 230px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  border-radius: 1000px;
  padding-left: 5px;
  transition: all 0.4s;
  border: 0px;
  padding-left: 10px;
}
.e-login-form > form > input:focus {
  border-radius: 1000px;
  width: 300px;
  border-width: 0px;
  outline: none;
}
.google-button {
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vh;
  height: 40px;
  width: 230px;
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 1000px;
  white-space: nowrap;
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
  transform: scale(1.4);
  border-radius: 1000px;
}
.google-button:hover,
.google-button:focus,
.google-button:active {
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.2);
  outline: none;
}
.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 0px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.google-button__icon--plus {
  width: 27px;
}
.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Roboto", arial, sans-serif;
}

.email-button {
  margin-top: 0vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vh;
  height: 40px;
  width: 230px;
  border-width: 0;
  color: white;
  background: #737373;
  border-radius: 1000px;
  white-space: nowrap;
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
  border-radius: 1000px;
}
.email-button:hover,
.email-button:focus,
.email-button:active {
  outline: none;
  background: white;
  color: #737373;
  width: 300px;
}

.email-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Roboto", arial, sans-serif;
}
.switch-button {
  outline: none;
  border: 0px;
  background-color: rgb(230, 230, 230);
  margin-bottom: 5vh;
  padding-left: 140px;
}
.switch-button:hover {
  text-decoration: underline;
}
