.blog-title-input {
  height: 6vh;
}

.blog-card {
  height: fit-content;
  width: 33vw;
}

.blog-img {
  width: 29vw;
  height: 35vh;
}

.plus-sign {
  font-size: 2.9rem;
  width: 20vw;
}

.ShowBlogs{
  width: 100vw;
  height:60vh;
  background-color: #363636 ;
  color: #fff;
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
}

.blog-date{
  text-align: right;
}

.blog-para{
  height:fit-content;
}
.blog-read{
  text-align: end;
}

.blog-cont{
  position: relative;
}

.delete-button{
  position:absolute;
  top:0%;
  left:13.5%;
  background-color: black !important;
  color: #fff !important;
  font-size: 1.6rem;
  cursor: pointer;
}

.delete-button:hover{
  color: #FF0000 !important;
}

.google{
  height: 80vh;
  background-color: black;
}

.googleButton{
  font-size: 1rem !important;
  width: 20vw;
  height: 10vh;
  border-radius: 50px;
}


.event-page-heading{
   background-image: url;
}

.event-page-heading img{
  width: 70vw;
  height: 70vh;
}

.event-page-heading .heading{
  color: #fff;

}