.landing img {
  width: 100vw;
  height: 90vh;
  position: relative;
}
.landing-audio {
  background-color: transparent !important;
}

.about-img {
  width: 50vw;
  height: 70vh;
}

.about-icons {
  font-size: 1.5rem;
}

.about-quote {
  font-weight: 500;
  text-align: left;
}

.contact {
  background-image: url(../img/contact.jpg);
  height: 110vh;
  width: 100vw;
  background-attachment: fixed;
  position: relative;
}

.main-contact {
  height: 80vh;
  width: 65vw;
  background-color: #fff;
  position: absolute;
  left: 35%;
  top: 27.1%;
}

.contact-heading {
  font-weight: 750;
  font-size: 1rem;
}

.audio-platform {
  position: absolute;
  left: 29.8%;
  top: 27.1%;
  font-size: 2rem;
}

.spotify {
  width: 5rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  background-color: #4267b2;
  color: #fff;
}

.itune {
  width: 5rem;
  height: 5rem;
  background-color: #e1306c;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.youtube {
  width: 5rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  background-color: #ff0000;
  color: #fff;
}

.soundcloud {
  width: 5rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  background-color: #0e76a8;
  color: #fff;
}

.yt-player-wrapper {
  height: 70vh;
}

.dark-btn {
  border: 3px solid #000 !important;
  color: #000 !important;
  border-radius: 13rem !important;
  font-weight: bold !important;
  padding: 0.5rem 2rem !important;
  cursor: pointer;
  width: fit-content;
  text-decoration: none;
  font-size: 0.8rem !important;
}
.dark-btn:hover {
  background-color: #f559a4 !important;
  border: 0px solid #000 !important;
  color: #fff !important;
}
.dark-btn:active,
.dark-btn:focus {
  box-shadow: none !important;
  border: none;
}

.album {
  background-color: black;
  border-radius: 15px;
  width: 85vw;
  height: 85vh;
  box-shadow: 5px 5px 15px #000;
}

.album-sub {
  color: #00b9c6;
}

.album-heading {
  font-size: 1.8rem;
  font-weight: 700;
}

.album-sub-head{
 color: #ffd500;
}

.album-name{
  cursor: pointer;
 
}